{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Weather App UI</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
   
<form method="POST" action="{% url 'get_weather_details' %}"> 
  <header class="search-container glass">
      
        {% csrf_token %}
      <input type="text" id="cityInput" name='city_name'  placeholder="Search city..." />
      <button aria-label="Search">
        <i class="fa fa-search"></i>
      </button>
  </header>
</form>

{% if error %}
<div class="error-card glass">
  <p>{{ error }}</p>
</div>
{% endif %}

  <!-- Location + Temp -->
<div class="main-weather glass">
    <h1>{{city_name}}</h1>
    <h2>{{ temperature}}<span>°C</span></h2>
    <p>{{ weather }}</p>
</div>


<div class="weather-grid">
  <div class="weather-card glass">
      <img src="{% static 'assests/sunrise.png'%}">
      <h3>Sunrise</h3>
      <p>{{  sunrise }}</p>
  </div>

  <div class="weather-card glass">
      <img src="{% static 'assests/sunset.png'%}">
      <h3>Sunset</h3>
      <p>{{ sunset }}</p>
  </div>
  <div class="weather-card glass">
      <img src="{% static 'assests/humidity.png' %}">
      <h3>Humidity</h3>
      <p>{{ humidity }} %</p>
  </div>

  <div class="weather-card glass">
      <img src="{% static 'assests/rainy.png' %}" class="weather-icon" alt="icon">
      <h3>Rain</h3>
      <p>{{ rain}} mm</p>
  </div>

  <div class="weather-card glass">
      <img src="{% static 'assests/wind.png'%}">
      <h3>Wind</h3>
      <p>{{ wind_speed }} km/h</p>
  </div>

  <div class="weather-card glass">
      <img src="{% static 'assests/witness.png'%}">
      <h3>Visibility</h3>
      <p>{{ visibility}} km</p>
  </div>
  </div>
</body>
</html>