<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Atmos | Weather Intelligence</title>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

  <!-- Background Orbs -->
  <div class="bg-orb orb-1"></div>
  <div class="bg-orb orb-2"></div>

  <!-- App Wrapper -->
  <div class="app">

    <!-- Header -->
    <header class="header">
      <h1>Atmos</h1>
      <span>Smart Weather Intelligence</span>
    </header>

    <!-- Search -->
    <section class="search">
      <form method="POST" action="{% url 'get_weather_details' %}">
        {% csrf_token %}
      <input type="text" id="cityInput" name='city_name'placeholder="Search city..." />
      <button id="searchBtn">Get Weather</button>
      </form>
    </section>
  
    <!-- Weather Card -->
      {% if city %}
    <section class="weather-glass">
    
      <div class="location">
        <h2 id="cityName">{{city_name}}</h2>
        <p id="description">{{weather}}</p>
      </div>

      <div class="main-weather">
        <img id="weatherIcon" src="" alt="Weather Icon" />
        <div class="temp">
          <span id="temp">{{temperature}}</span>°C
        </div>
      </div>

      <div class="stats">
        <div class="stat">
          <h4>Humidity</h4>
          <p id="humidity">{{humidity}}%</p>
        </div>
        <div class="stat">
          <h4>Wind</h4>
          <p id="wind">{{wind_speed}}km/h</p>
        </div>
        <div class="stat">
          <h4>Pressure</h4>
          <p id="pressure">{{pressure}}hPa</p>
        </div>
      </div>
    
    </section>
   {% endif %}
    <!-- Footer -->
    <footer class="footer">
      <p>Built by Jeevith • Django Weather API</p>
    </footer>

  </div>

</body>
</html>
